body{
  background-color:#196FC1;
  text-align:center;
  margin:50px 0;
}
h1,h2,h3,h4,a,p{
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
  line-height:1.4em;
}
hr{
  max-width:970px;
}

a{
  color:#ffffff;
  -webkit-transition:color .25s ease-in;
  -moz-transition:color .25s ease-in;-o-transition:color .25s ease-in;transition:color .25s ease-in
}

a:hover{
  text-decoration:none;
}

.container{
  max-width:970px;
}

.fa-6x{
  font-size:6em !important;
}

.img-circle{
  border: 5px solid #ffffff;
}
